body {
  background: #000;
  color: white;
  text-align: center;
  font-family: Arial;
}

canvas {
  border: 3px solid #00ffcc;
  margin-top: 10px;
}

.controls {
  margin: 10px;
}

button, select, input {
  margin: 5px;
  padding: 8px;
}